body{
  background: rgb(24, 26, 27);
}

#card-list{
    background: rgb(247, 248, 247);
}

#update-link{
    background: rgb(35, 148, 253);
    border: 1px rgb(35, 148, 253) solid;  
}
#delete-link{
    background: rgb(165, 29, 42);
    border: 1px rgb(165, 29, 42) solid;
}

#btn-secundary{
    background: darkgray;
    color: white;
}
.card{
    background: rgba(18, 18, 18, 1);
    border: rgba(18, 18, 18, 1) 2px;
    border-radius: 5%;
}
.card-header{
    color: white;
    background:solid rgba(18, 18, 18, 1) 2px;
    border-radius: 5%;
}
.card-body{
    background: #202120;
    color: white;
    border: solid rgba(15, 15, 15, 1) 1px;
    border-radius: 5%;
}

.form-control{
    background: rgba(15, 15, 15);
    color: white;
    border: rgba(18, 18, 18, 1) solid 2px;
}

#esdrupLogo{
    width: 50px;
}


#cprt{
    color: gray;
}